@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?v6skmo');
  src:  url('../fonts/icomoon.eot?v6skmo#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?v6skmo') format('truetype'),
    url('../fonts/icomoon.woff?v6skmo') format('woff'),
    url('../fonts/icomoon.svg?v6skmo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-message:before {
  content: "\e902";
}
.icon-money:before {
  content: "\e905";
}
.icon-increased-revenue-big:before {
  content: "\e906";
}
.icon-trophy-big:before {
  content: "\e907";
}
.icon-report:before {
  content: "\e900";
}
.icon-dispute:before {
  content: "\e901";
}
.icon-campaigns1:before {
  content: "\e909";
}
.icon-call-center:before {
  content: "\e903";
}
.icon-home:before {
  content: "\e904";
}
.icon-users:before {
  content: "\e972";
}